
<div class="card">
    <div class="card-header">
        Alumno IRIC
    </div>
    <div class="card-body">
        <p class="card-title">
        </p>
        <div class="table-responsive" *ngif="students.length">
            <table class="table">
                <thead> 
                    <tr>
                        <td>Matricula</td>
                        <td>Nombre</td>
                        <td>Edad</td>
                        <td>Correo</td>
                        <td>Pago</td>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>